<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
      <title>sdfsdf</title>
    <link rel='stylesheet' href='js/vendor/bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />

   <script src='js/vendor/bower_components/jquery/dist/jquery.min.js' ></script>
    <script src='js/vendor/bower_components/bootstrap/dist/js/bootstrap.js' ></script>
 
 </head>
  <body>
     <header>
        <%- blocks.header %>
     </header>

     <section class="container">
        <%- partial('../partials/topNavigation') %>
        <h1><%= blocks.title %></h1>
     </section>

    <footer>
        <%- blocks.footer %>
    </footer>

 </body>
 <script >
 
 </script>

</html>
